<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Hui_WPF.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser"
                     requirePermission="false" />
		</sectionGroup>
	</configSections>

	<userSettings>
		<Hui_WPF.Properties.Settings>
   <setting name="UserNamingParentDirText" serializeAs="String">
    <value>HF</value>
   </setting>
   <setting name="UserNamingIncludeSubDir" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UserNamingSubDirText" serializeAs="String">
    <value>sF</value>
   </setting>
   <setting name="UserNamingIncludeFileName" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UserNamingFileNameText" serializeAs="String">
    <value>File</value>
   </setting>
   <setting name="UserEnableTimestamp" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UserTimestampFormat" serializeAs="String">
    <value>yyyyMMdd_HHmmss_</value>
   </setting>
   <setting name="UserEnableCounter" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UserCounterFormat" serializeAs="String">
    <value>D3</value>
   </setting>
   <setting name="UserCounterStartValue" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="UserNamingUseSeparator" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UserOverwriteOutput" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UserNamingSeparator" serializeAs="String">
    <value>-</value>
   </setting>
   <setting name="UserOutputSubfolder" serializeAs="String">
    <value>Processed</value>
   </setting>
   <setting name="UserImageOutputPath" serializeAs="String">
    <value />
   </setting>
   <setting name="UserVideoOutputPath" serializeAs="String">
    <value />
   </setting>
   <setting name="UserBackupOutputPath" serializeAs="String">
    <value />
   </setting>
   <setting name="UserGeneralBackupPrefix" serializeAs="String">
    <value />
   </setting>
   <setting name="UserExifToolTag" serializeAs="String">
    <value>ExifTool</value>
   </setting>
   <setting name="UserEnableBackup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UserOutputImageFormat" serializeAs="String">
    <value>JPEG</value>
   </setting>
   <setting name="UserJpegQuality" serializeAs="String">
    <value>90</value>
   </setting>
   <setting name="UserOriginalFileAction" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="GlobalNameOrder" serializeAs="String">
    <value>文件夹+时间戳+计数器</value>
   </setting>
   <setting name="UserUseTimestampSubfolderForMedia" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UserLanguage" serializeAs="String">
    <value>zh</value>
   </setting>
   <setting name="UserGeneralRenamePrefix" serializeAs="String">
    <value />
   </setting>
   <setting name="UserNamingIncludeFolder" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UserNamingFolderText" serializeAs="String">
    <value>FD</value>
   </setting>
   <setting name="UserNamingIncludeParentDir" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="设置" serializeAs="String">
    <value />
   </setting>
  </Hui_WPF.Properties.Settings>
	</userSettings>
</configuration>